<!DOCTYPE html>

<html>
  <header>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Web Application with python flask</title>
    
    <style>
      h1{
        font-size:40px;
        font-family: Roboto;
        font-weight:normal;
        text-align:center;
      }

      .container{
        max-width:724px;
        margin:0 auto;
      }
      #banner{
        width:100%;
        height:360px;
        
      }
    </style>
  </header>
  
  <body>
    {% include 'nav.html' %}
    <div class='container'>
    <h1>{{c_name}}</h1>
    <img id="banner" src="https://flaskwebappdd-d.jahirulislamdev.repl.co/static/pexels.webp" />

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt arcu non sodales neque sodales ut etiam. Scelerisque in dictum non consectetur. Adipiscing at in tellus integer. Vulputate ut pharetra sit amet aliquam.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt arcu non sodales neque sodales ut etiam. Scelerisque in dictum non consectetur. Adipiscing at in tellus integer. Vulputate ut pharetra sit amet aliquam.</p>
   
    <h2 style='margin-bottom:24px;'>Open Position</h2>
   
      <div>
        {% for job in jobs %}
        {% include 'jobItem.html' %}
        {% endfor %}
      </div>

    <div style="text-align:center;">
     <button type="button" class="btn btn-success mt-3">Success</button>
    </div>
      
    
    
    </div>



     <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>